* {
    margin: 0;
    padding: 0;
    font-size: 40pt;
    line-height: 1.3em;
}

main {
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

/* Palette automatica */
@media (prefers-color-scheme: dark) {
    :root {
        --primaryGradient: #9e9e9e;
        --secondaryGradient: #454545;
        --senaryGradient: #797979;
        --textColor: #FFFFFF;
        --titleColor: black;
        --bg: #1e1e1e;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primaryGradient: #e3dbcc;
        --secondaryGradient: #faf6f1;
        --senaryGradient: #f9f4ea;
        --textColor: black;
        --titleColor: black;
        --bg: #F9F9F9;
    }
}

.tabout {
    display: none;
}

/* ******* PER GENERALITÀ ******* */

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 1em;
    position: relative;
}

#profile h1 {
    font-size: 40pt;
    font-weight: bold;
    margin: .5em;
}

#info {
    display: none;
}

#immagine {
    width: 90%;
    height: auto;
    border-radius: 2em;
    display: block;
    margin: auto;
    padding: auto;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

#aboutme {
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 80%;
    height: auto;
    padding: 1em;
}

.title {
    padding: 0.5em 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 40pt;
    color: var(--titleColor);
    background-color: var(--senaryGradient);
}

#experience span {
    color: var(--textColor);
    font-size: 40pt;
    padding: auto;
}

#experience h1 {
    font-weight: bold;
    margin: .5em;
    width: 100%;
    margin: auto;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 1em;
    position: relative;
}

.experience::after {
    display: none;
}


#tecno,
#city,
#now {

    border-radius: 1em;
    background-color: var(--secondaryGradient);
    width: 80%;
    height: auto;
    align-self: center;
    color: var(--textColor);
    margin: auto;
    margin-top: 1em;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 5em;
    border-radius: 1em;
    position: relative;
}

#projects dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#projects .projects-col {
    border-radius: 1em;
    width: 70%;
    height: auto;
    align-self: center;
}

.projects-col img {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 1em;
}

.projects-col dt {
    margin-top: 1em;
    margin-bottom: -2em;
    color: var(--textColor);
}

a {
    text-decoration: none;
    color: #030303;
    font-weight: normal;
}

#curriculum {
    text-align: center;
    align-items: center;
    justify-content: center;

}

#curriculum span {
    font-size: 40pt;
    padding: auto;
    color: var(--textColor);
}

#cv {
    text-decoration: underline;
    font-weight: bold;
    font-size: 40pt;
    padding: auto;
    color: var(--textColor);
}

#CV-container {
    display: flex;
    width: 40%;
    height: auto;
    margin: auto;
    border-radius: 1em;
    justify-content: center;
    margin-bottom: 5em;
    padding: 1em;
    background-color: var(--primaryGradient);
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 85%;
    height: auto;
    margin: auto;
    margin-bottom: 5em;
    border-radius: 1em;
    position: relative;
    color: var(--textColor);

}

#prova,
#prova1,
#prova2,
#divisore {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1em;
    width: 100%;
    height: auto;
    align-self: center;
    margin: 1em;
    color: var(--textColor);
}

#footdef dt {
    font-weight: bolder;
}

.print {
    display: none;
}

#rights {
    text-align: center;
    padding-bottom: 1em;
    color: var(--textColor);
}

#email {
    word-wrap: break-word;
    margin-top: auto;
}

#footer a {
    color: var(--textColor);
}

footer p,
span {
    text-align: center;
    padding-top: 1em;
    font-size: 15pt;
    color: var(--textColor);
}