* {
    margin: 0;
    padding: 0;
    font-size: 40pt;
    line-height: 1em;
}

main {
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

:root {
    --primaryGradient_lightMode: #e3dbcc;
    --secondaryGradient_lightMode: #faf6f1;
    --tertiaryGradient_lightMode: #ead6ad;
    --quadriaryGradient_lightMode: #efe0c1;
    --senaryGradient_lightMode: #f9f4ea;
    --textColor_lightMode: #030303;
    --bg_lightMode: #F9F9F9;

    --primaryGradient_darkMode: #FF4081;
    --secondaryGradient_darkMode: #4d4d4d;
    --tertiaryGradient_darkMode: #00E676;
    --quadriaryGradient_darkMode: #343434;
    --senaryGradient_darkMode: #FFFFFF;
    --textColor_darkMode: #FFFFFF;
    --bg_darkMode: #252525
}

.tabout {
    display: none;
}

/* ******* PER GENERALITÀ ******* */

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 1em;
    align-items: center;
    text-align: center;

}

#profile h1 {
    font-size: 20pt;
    font-weight: bold;
    margin: .5em;
}

#info {
    width: 100%;
    margin: auto;
    color: #030303;
}

#immagine {
    width: 45%;
    height: auto;
    border-radius: 2em;
    display: block;
    margin: auto;
    padding: auto;
    margin-left: 22.5%;
    margin-right: 22.5%;
}

.aboutme {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 1em, 1em, 1em, 1em;
    margin-left: 22.5%;
    margin-right: 22.5%;
}


.aboutme dt {
    font-weight: bold;
    text-align: center;
}

.aboutme dd {
    text-align: center;
}

.title {
    padding: 0.5em 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

#experience span {
    color: var(--textColor_darkMode);
    font-size: 40pt;
    padding: auto;
}

#experience h1 {
    font-weight: bold;
    margin: .5em;
    width: 100%;
    margin: auto;
    /* border: 1px solid black; */
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    margin: auto;
    height: auto;
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 1em;
    position: relative;
}

.experience::after {
    display: none;
}


#tecno,
#city,
#now {
    border: 1px solid black;
    border-radius: 1em;
    background-color: var(--secondaryGradient);
    width: 80%;
    height: auto;
    align-self: center;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 5em;
    border: 1px solid black;
    border-radius: 1em;
    position: relative;
}

#projects dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#projects .projects-col {
    border-radius: 1em;
    width: 70%;
    height: auto;
    align-self: center;
}

.projects-col img {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 1em;
}

.projects-col dt {
    margin-top: 1em;
    margin-bottom: -2em;
}

a {
    text-decoration: none;
    color: #030303;
    font-weight: normal;
}

#curriculum {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#curriculum span {
    font-size: 40pt;
    padding: auto;
}

#cv {
    text-decoration: underline;
    font-weight: bold;
    font-size: 40pt;
    padding: auto;

}

#CV-container {
    display: flex;
    width: 40%;
    height: auto;
    margin: auto;
    border-radius: 1em;
    justify-content: center;
    margin-bottom: 5em;
    border: 1px solid black;
    padding: 1em;
    background-color: var(--primaryGradient);
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 5em;
    border: 1px solid black;
    border-radius: 1em;
    position: relative;
}

#prova,
#prova1,
#prova2,
#divisore {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1em;
    width: 100%;
    height: auto;
    align-self: center;
    margin: 1em;
}


#footdef dt {
    font-weight: bolder;
}


.print {
    display: none;
}

#rights {
    text-align: center;
    padding-bottom: 1em;
}

#email {
    word-wrap: break-word;
    margin-top: auto;
}

footer p,
span {
    text-align: center;
    color: var(--text-100);
    padding-top: 1em;
    font-size: 15pt;
}