@font-face {
    font-family: "Prompt";
    src: url("/assets/font/Prompt-Regular.ttf");
    font-weight: normal;
    font-display: swap;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
    font-size: 20pt;
    line-height: 1.5em;
}

/* Palette automatica */
@media (prefers-color-scheme: dark) {
    :root {
        --primaryGradient: #9e9e9e;
        --secondaryGradient: #454545;
        --senaryGradient: #797979;
        --textColor: #FFFFFF;
        --titleColor: black;
        --bg: #1e1e1e;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        --primaryGradient: #e3dbcc;
        --secondaryGradient: #faf6f1;
        --senaryGradient: #f9f4ea;
        --textColor: black;
        --titleColor: black;
        --bg: #F9F9F9;
    }
}

html {
    font-size: 100%;
    background-color: var(--bg);
    margin: auto;
    line-height: 1.5em;
}

/* 
.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.switch {
    display: inline-block;
    position: relative;
    width: 52px;
    height: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;

}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
} */




main {
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.tabout {
    display: none;
}

/* ******* PER GENERALITÀ ******* */

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 5em;
    border-radius: 1em;
}

#profile h1 {
    font-size: 2em;
    font-weight: bold;
    margin: .5em;

}

#immagine {
    width: 35%;
    padding: 1em;
    border-radius: 2em;
}

.title {
    display: flex;
    padding: 0.5em;
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    margin-bottom: .5em;
    background-color: var(--senaryGradient);
}

#experience {
    padding: 1em;
}

.experience {
    display: flex;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    margin: auto;
    height: auto;
    margin-bottom: 5em;

    border-radius: 1em;
    flex-direction: column;
    position: relative;
}

.experience::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 4.5em;
    bottom: 2em;
    width: 1px;
    background-color: black;
}

ul {}

li {
    list-style-type: none;
    text-align: left;
}

#tecno,
#city,
#now {

    margin: 1em;
    border-radius: 1em;
    background-color: var(--secondaryGradient);
    width: 40%;
    height: 40%;
    color: var(--textColor);
}

#city {
    align-self: flex-start;
    margin-left: 2em;
}

#tecno,
#now {
    align-self: flex-end;
    margin-right: 2em;
}

#aboutme {

    margin: 1em;
    border-radius: 1em;
    background-color: var(--secondaryGradient);
    width: 60%;
    height: auto;
    color: var(--textColor);
}

#curriculum {
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--textColor);

}

#cv {
    text-decoration: underline;
    font-weight: bold;
    color: var(--textColor);

}

#CV-container {
    display: flex;
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 1em;
    justify-content: center;
    margin-bottom: 5em;
    padding: 1em;
    background-color: var(--primaryGradient);
    color: var(--textColor);
}

#projects {
    width: 90%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1em;
    padding: 1em 0;
    margin-bottom: 5em;
    background-color: var(--primaryGradient);
}

#projects dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#projects .projects-col {
    text-align: center;
    width: 25%;
    padding: 1em 1em;
    margin: .6em -.6em;
    border-radius: 2%;
    color: #030303;
}

.projects-col img {
    width: 100%;
    height: auto;
    margin: auto;
}

.projects-col dt {
    font-weight: bold;
    padding-bottom: 1em;
    color: var(--textColor);
}

a {
    text-decoration: none;
    color: #030303;
    font-weight: normal;
}

.projects-col dd {
    width: 5em;
    margin: auto;
    padding: 0.5em;
}

.projects-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

#projects p {
    text-align: center;
    color: var(--text-100);
    padding-top: 0.5em;
    font-size: 1.2em;
}


#footer {
    display: flex;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    margin: auto;
    height: auto;
    margin-bottom: 5em;
    border-radius: 1em;
    flex-direction: column;
    position: relative;
}

#divisore {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    color: var(--textColor);

}

#prova {
    text-align: center;
    width: 25%;
    padding: 1em 1em;
    margin: .6em -.6em;
    border-radius: 2%;

}

#prova1 {
    text-align: center;
    width: 25%;
    padding: 1em 1em;
    margin: .6em -.6em;
    border-radius: 2%;

}

#prova2 {
    text-align: center;
    width: 25%;
    padding: 1em 1em;
    margin: .6em -.6em;
    border-radius: 2%;
}

#divisore a {
    color: var(--textColor_darkMode);

}

dl#footdef dt {
    font-weight: bolder;
}

.styles {
    text-decoration: underline;
}

.print {
    display: none;
}

#rights {
    text-align: center;
    padding-bottom: 1em;
    color: var(--textColor);
}