@font-face {
    font-family: "Prompt";
    src: url("/assets/font/Prompt-Regular.ttf");
    font-weight: normal;
    font-display: swap;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
    font-size: 20pt;
}

/* Palette chiara */
:root {
    --primaryGradient_lightMode: #e3dbcc;
    --secondaryGradient_lightMode: #faf6f1;
    --tertiaryGradient_lightMode: #ead6ad;
    --quadriaryGradient_lightMode: #efe0c1;
    --senaryGradient_lightMode: #f9f4ea;
    --textColor_lightMode: #030303;
    --bg_lightMode: #F9F9F9;

    --primaryGradient_darkMode: #FF4081;
    --secondaryGradient_darkMode: #4d4d4d;
    --tertiaryGradient_darkMode: #00E676;
    --quadriaryGradient_darkMode: #343434;
    --senaryGradient_darkMode: #f9f4ea;
    --textColor_darkMode: #FFFFFF;
    --bg_darkMode: #252525
}

[data-theme="darkMode"] {
    --primaryGradient: var(--primaryGradient_darkMode);
    --secondaryGradient: var(--secondaryGradient_darkMode);
    --tertiaryGradient: var(--tertiaryGradient_darkMode);
    --quadriaryGradient: var(--quadriaryGradient_darkMode);
    --senaryGradient: var(--senaryGradient_darkMode);
    --bg: var(--bg_darkMode);
}

[data-theme="lightMode"] {
    --primaryGradient: var(--primaryGradient_lightMode);
    --secondaryGradient: var(--secondaryGradient_lightMode);
    --tertiaryGradient: var(--tertiaryGradient_lightMode);
    --quadriaryGradient: var(--quadriaryGradient_lightMode);
    --senaryGradient: var(--senaryGradient_lightMode);
    --bg: var(--bg_lightMode);
}

/* Palette automatica */
@media (prefers-color-scheme: dark) {
    :root {
        --primaryGradient: #FF4081;
        --secondaryGradient: #4d4d4d;
        --tertiaryGradient: #00E676;
        --quadriaryGradient: #343434;
        --senaryGradient: #f9f4ea;
        --textColor: #FFFFFF;
        --bg: #252525
    }
}

html {
    font-size: 100%;
    background-color: var(--bg);
    margin: auto;
    line-height: 1.5em;
}

/* 
.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.switch {
    display: inline-block;
    position: relative;
    width: 52px;
    height: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;

}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
} */




main {
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.tabout {
    display: none;
}

/* ******* PER GENERALITÀ ******* */

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 5em;
    border: 1px solid black;
    border-radius: 1em;
}

#profile h1 {
    font-size: 2em;
    font-weight: bold;
    margin: .5em;

}

#immagine {
    width: 35%;
    padding: 1em;
    border-radius: 2em;
}

.title {
    display: flex;
    padding: 0.5em;
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: .5em;
    margin-bottom: .5em;
    background-color: var(--senaryGradient);
}

#experience {
    padding: 1em;
}

.experience {
    display: flex;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    margin: auto;
    height: auto;
    margin-bottom: 5em;
    border: 1px solid black;
    border-radius: 1em;
    flex-direction: column;
    position: relative;
}

.experience::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 4.5em;
    bottom: 2em;
    width: 1px;
    background-color: black;
}

#tecno,
#city,
#now {
    border: 1px solid black;
    margin: 1em;
    border-radius: 1em;
    background-color: var(--secondaryGradient);
    width: 40%;
    height: 40%;
    color: var(--textColor);
}

#city {
    align-self: flex-start;
    margin-left: 2em;
}

#tecno,
#now {
    align-self: flex-end;
    margin-right: 2em;
}

#aboutme {
    border: 1px solid black;
    margin: 1em;
    border-radius: 1em;
    background-color: var(--secondaryGradient);
    width: 60%;
    height: auto;
    color: var(--textColor);
}

#curriculum {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#cv {
    text-decoration: underline;
    font-weight: bold;
}

#CV-container {
    display: flex;
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 1em;
    justify-content: center;
    margin-bottom: 5em;
    border: 1px solid black;
    padding: 1em;
    background-color: var(--primaryGradient);
}

#projects {
    width: 90%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1em;
    padding: 1em 0;
    border: 1px solid black;
    margin-bottom: 5em;
    background-color: var(--primaryGradient);
}

#projects dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#projects .projects-col {
    text-align: center;
    width: 25%;
    padding: 1em 1em;
    margin: .6em -.6em;
    border-radius: 2%;
    color: #030303;
}

.projects-col img {
    width: 100%;
    height: auto;
    margin: auto;
}

.projects-col dt {
    font-weight: bold;
    padding-bottom: 1em;

}

a {
    text-decoration: none;
    color: #030303;
    font-weight: normal;
}

.projects-col dd {
    width: 5em;
    margin: auto;
    padding: 0.5em;
}

.projects-col img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

#projects p {
    text-align: center;
    color: var(--text-100);
    padding-top: 0.5em;
    font-size: 1.2em;
}


#footer {
    display: flex;
    padding: 1em;
    background-color: var(--primaryGradient);
    width: 90%;
    margin: auto;
    height: auto;
    margin-bottom: 5em;
    border: 1px solid black;
    border-radius: 1em;
    flex-direction: column;
    position: relative;
}

#divisore {
    display: flex;
    justify-content: space-evenly;
}

#prova {
    text-align: center;
    width: 25%;
    padding: 1em 1em;
    margin: .6em -.6em;
    border-radius: 2%;
    color: #030303;
}

#prova1 {
    text-align: center;
    width: 25%;
    padding: 1em 1em;
    margin: .6em -.6em;
    border-radius: 2%;
    color: #030303;
}

#prova2 {
    text-align: center;
    width: 25%;
    padding: 1em 1em;
    margin: .6em -.6em;
    border-radius: 2%;
    color: #030303;
}

dl#footdef dt {
    font-weight: bolder;
}

.styles {
    text-decoration: underline;
}

.print {
    display: none;
}

#rights {
    text-align: center;
    padding-bottom: 1em;
}